<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Student Breakdown by city</title>
</head>
<body>
<h1>Student Breakdown by City</h1>
<ul>
  <li>San Francisco: <%= @SF.length %></li>
  <li>San Diego: <%= @SD.length %></li>
  <li>New York City: <%= @NYC.length %></li>
  <li>Seattle: <%= @SEA.length %></li>
  <li>Chicago: <%= @CHI.length %></li>
</body>
</html>